	/*
  	Flaticon icon font: Flaticon
  	Creation date: 12/12/2019 03:27
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-calendar:before { content: "\f100"; }
.flaticon-worldwide:before { content: "\f101"; }
.flaticon-brazil-real-symbol:before { content: "\f102"; }
.flaticon-hand:before { content: "\f103"; }
.flaticon-money-bag:before { content: "\f104"; }
.flaticon-airplane:before { content: "\f105"; }
.flaticon-slumber:before { content: "\f106"; }
.flaticon-bed:before { content: "\f107"; }
.flaticon-backpacker:before { content: "\f108"; }
.flaticon-traveler-with-a-suitcase:before { content: "\f109"; }
.flaticon-destination:before { content: "\f10a"; }
.flaticon-plane:before { content: "\f10b"; }
.flaticon-train:before { content: "\f10c"; }
.flaticon-bus:before { content: "\f10d"; }
.flaticon-train-1:before { content: "\f10e"; }
.flaticon-bus-1:before { content: "\f10f"; }
.flaticon-bus-2:before { content: "\f110"; }
.flaticon-boat:before { content: "\f111"; }
.flaticon-camel:before { content: "\f112"; }
.flaticon-horse:before { content: "\f113"; }